.wrapper {
    width: 1200px;
    height: 900px;
    margin: 10px auto;
    font-size: 14px;

    div {
        line-height: 20px;

        p {
            display: inline-block;
            width: 250px;
        }

        input {
            width: 50px;
            height: 20px;
            padding-left: 5px;
            font-size: 16px;
            margin-bottom: 3px;
            outline: none;

            &.header-text, &.content-text {
                width: 240px;
            }
        }
       
    }

    .create-btn {
        padding: 3px 10px;
        border-radius: 10px;
        margin-left: 200px;
        cursor: pointer;
        user-select: none;
        outline: none;
        box-sizing: border-box;

        &:hover {
            box-shadow: 0 -1px 5px #222222 inset;
            background-color: #7bbdfa;
        }

    }

    .container {
        height: 600px;
        border: 1px solid #999;
        margin-top: 5px;
        position: relative;
    }
}

.pop-window {
    border: 10px solid #7bbdfa;
    border-radius: 5px;
    box-shadow: 0 0 10px -2px #000;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;


    .pop-window-header {
        height: 40px;
        line-height: 40px;
        background-color: #7bbdfa;
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: '微软雅黑';
            font-size: 20px;
            font-weight: bold;
            padding-left: 30px;
            display: inline-block;
            background: url(../images/window.png) left center no-repeat;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: none;
        }

        .window-control {
            padding-top: 10px;
            display: flex;
            justify-content: flex-end;

            button {
                display: block;
                width: 20px;
                height: 20px;
                padding: 0 3px;
                outline: none;
                border: none;

                &:hover {
                    background-color: #fff;
                }

                &.contents-min {
                    background: transparent url(../images/min.png) no-repeat;
                }

                &.pop-window-max {
                    background: transparent url(../images/max2.png) no-repeat;
                }

                &.pop-window-close {
                    background: transparent url(../images/close.png) no-repeat;
                }
            }
        }
    }

    .pop-window-content {
        font-size: 18px;
        background-color: #fff;
        box-sizing: border-box;
        overflow: hidden;

        p {
            width: 100%;
            padding: 0 5px;
            word-wrap: break-word; 
            box-sizing: border-box;
            text-overflow: ellipsis;
            text-align: justify;
        }
    }

    .pop-window-mask {
        position: absolute;
        // z-index: ;
        background-color: rgba(255, 255, 255, 0.393);
    }
}
.unselect {
    user-select: none;
}