$popWindowHeaderHight: 40px;
$popWindowBorderWidth: 10px;
$popWindowBorderColor: #7bbdfa;
$popWindowBorderRadius: 5px;
.wrapper {
    width: 1200px;
    height: 900px;
    margin: 10px auto;
    font-size: 14px;

    div {
        line-height: 20px;

        p {
            display: inline-block;
            width: 250px;
        }

        input {
            width: 50px;
            height: 20px;
            padding-left: 5px;
            font-size: 16px;
            margin-bottom: 3px;
            outline: none;

            &.header-text, &.content-text {
                width: 240px;
            }
        }
       
    }

    .create-btn {
        padding: 3px 10px;
        border-radius: 10px;
        margin-left: 200px;
        cursor: pointer;
        user-select: none;
        outline: none;
        box-sizing: border-box;

        &:hover {
            box-shadow: 0 -1px 5px #222222 inset;
            background-color: #7bbdfa;
        }

    }

    .container {
        height: 600px;
        border: 1px solid #999;
        margin-top: 5px;
        position: relative;
    }
}

.pop-window {
    border: $popWindowBorderWidth solid $popWindowBorderColor;
    border-radius: $popWindowBorderRadius;
    box-shadow: 0 0 10px -2px #000;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    transition: height 0.5s ease-in-out;
    // overflow: visible !important;


    .pop-window-header {
        height: $popWindowHeaderHight;
        line-height: $popWindowHeaderHight;
        background-color: $popWindowBorderColor;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;

        h2 {
            font-family: '微软雅黑';
            font-size: 20px;
            font-weight: bold;
            padding-left: 25px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: none;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border: 1px solid #000;
                box-sizing: border-box;
                border-top: 4px solid #000;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .window-control {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                display: block;
                width: 20px;
                height: 20px;
                padding: 0 3px;
                outline: none;
                border: none;
                box-sizing: border-box;
                background-color: transparent;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: rgb(162, 204, 255);

                    &.pop-window-max, &.pop-window-small {
                         &::after, &::before {
                            box-shadow: 2px -2px 0 10px rgb(162, 204, 255) inset;

                        }
                    }
                   
                }

                &.pop-window-collapse {
                    &::after {
                        content: '';
                        display: block;
                        width: 14px;
                        height: 2px;
                        position: absolute;
                        bottom: 2px;
                        background-color: #000;
                    }
                }

                &.pop-window-max {
                    &::after {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border: 2px solid #000;
                        position: absolute;
                        left: 1px;
                        top: 6px;
                        box-shadow: 2px -2px 0 10px hsl(209, 93%, 73%) inset;
                                    
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border: 2px solid #000;
                        position: absolute;
                        left: 4px;
                        top: 3px;         
                    }

                   
                    }

                &.pop-window-small {
                    &::after {
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        border: 2px solid #000;
                        position: absolute;
                        left: 3px;
                        top: 8px;
                        box-shadow: 2px -2px 0 10px hsl(209, 93%, 73%) inset;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        border: 2px solid #000;
                        position: absolute;
                        left: 6px;
                        top: 5px;         
                    }


                }

                &.pop-window-close {
                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 20px;
                        background-color: #000;
                        transform: translate(-50%, -50%) rotate(45deg);
                        transform-origin: center;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }

                    &::before {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 20px;
                        background-color: #000;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }

    .pop-window-content {
        width: 100%;
        height: 100%;
        font-size: 18px;
        border-top: $popWindowHeaderHight solid transparent;
        background-color: #fff;
        box-sizing: border-box;
        // overflow: hidden;
    transition: height 0.5s ease-in-out;
        

        p {
            width: 100%;
            height: 100%;
            padding: 0 5px;
            word-wrap: break-word; 
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
    transition: height 0.5s ease-in-out;
            
            
        }
    }

    &:not(:last-of-type)::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: -$popWindowBorderWidth;
        top: -$popWindowBorderWidth;
        border: $popWindowBorderWidth solid transparent;
        border-radius: $popWindowBorderRadius;
        background-color: rgba(255, 255, 255, 0.393);
        pointer-events: none;
    }
}
.unselect {
    user-select: none;
}

.moving {
    cursor: move;
}