@charset "UTF-8";
.wrapper {
  width: 1200px;
  height: 900px;
  margin: 10px auto;
  font-size: 14px;
}

.wrapper div {
  line-height: 20px;
}

.wrapper div p {
  display: inline-block;
  width: 250px;
}

.wrapper div input {
  width: 50px;
  height: 20px;
  padding-left: 5px;
  font-size: 16px;
  margin-bottom: 3px;
  outline: none;
}

.wrapper div input.header-text, .wrapper div input.content-text {
  width: 240px;
}

.wrapper .create-btn {
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 200px;
  cursor: pointer;
  user-select: none;
  outline: none;
  box-sizing: border-box;
}

.wrapper .create-btn:hover {
  box-shadow: 0 -1px 5px #222222 inset;
  background-color: #7bbdfa;
}

.wrapper .container {
  height: 600px;
  border: 1px solid #999;
  margin-top: 5px;
  position: relative;
}

.pop-window {
  border: 10px solid #7bbdfa;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px #000;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
}

.pop-window .pop-window-header {
  height: 40px;
  line-height: 40px;
  background-color: #7bbdfa;
  display: flex;
  justify-content: space-between;
}

.pop-window .pop-window-header h2 {
  font-family: '微软雅黑';
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  background: url(../images/window.png) left center no-repeat;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pop-window .pop-window-header .window-control {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.pop-window .pop-window-header .window-control button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0 3px;
  outline: none;
  border: none;
}

.pop-window .pop-window-header .window-control button:hover {
  background-color: #fff;
}

.pop-window .pop-window-header .window-control button.contents-min {
  background: transparent url(../images/min.png) no-repeat;
}

.pop-window .pop-window-header .window-control button.pop-window-max {
  background: transparent url(../images/max2.png) no-repeat;
}

.pop-window .pop-window-header .window-control button.pop-window-close {
  background: transparent url(../images/close.png) no-repeat;
}

.pop-window .pop-window-content {
  font-size: 18px;
  padding: 5px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.pop-window .pop-window-content p {
  width: 100%;
  word-wrap: break-word;
}

.noselect {
  user-select: none;
}
