@charset "UTF-8";
.wrapper {
  width: 1200px;
  height: 900px;
  margin: 10px auto;
  font-size: 14px;
}

.wrapper div {
  line-height: 20px;
}

.wrapper div p {
  display: inline-block;
  width: 250px;
}

.wrapper div input {
  width: 50px;
  height: 20px;
  padding-left: 5px;
  font-size: 16px;
  margin-bottom: 3px;
  outline: none;
}

.wrapper div input.header-text, .wrapper div input.content-text {
  width: 240px;
}

.wrapper .create-btn {
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 200px;
  cursor: pointer;
  user-select: none;
  outline: none;
  box-sizing: border-box;
}

.wrapper .create-btn:hover {
  box-shadow: 0 -1px 5px #222222 inset;
  background-color: #7bbdfa;
}

.wrapper .container {
  height: 600px;
  border: 1px solid #999;
  margin-top: 5px;
  position: relative;
}

.pop-window {
  border: 10px solid #7bbdfa;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px #000;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
}

.pop-window.transition {
  transition: height 0.5s ease-in-out;
}

.pop-window .pop-window-header {
  height: 40px;
  line-height: 40px;
  background-color: #7bbdfa;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.pop-window .pop-window-header h2 {
  font-family: '微软雅黑';
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  position: relative;
}

.pop-window .pop-window-header h2::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-top: 4px solid #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.pop-window .pop-window-header .window-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-window .pop-window-header .window-control button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0 3px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.pop-window .pop-window-header .window-control button:hover {
  background-color: #a2ccff;
}

.pop-window .pop-window-header .window-control button:hover.pop-window-max::after, .pop-window .pop-window-header .window-control button:hover.pop-window-max::before, .pop-window .pop-window-header .window-control button:hover.pop-window-small::after, .pop-window .pop-window-header .window-control button:hover.pop-window-small::before {
  box-shadow: 2px -2px 0 10px #a2ccff inset;
}

.pop-window .pop-window-header .window-control button.pop-window-collapse::after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  position: absolute;
  bottom: 2px;
  background-color: #000;
}

.pop-window .pop-window-header .window-control button.pop-window-max::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  position: absolute;
  left: 1px;
  top: 6px;
  box-shadow: 2px -2px 0 10px #7abcfa inset;
}

.pop-window .pop-window-header .window-control button.pop-window-max::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  position: absolute;
  left: 4px;
  top: 3px;
}

.pop-window .pop-window-header .window-control button.pop-window-small::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #000;
  position: absolute;
  left: 3px;
  top: 8px;
  box-shadow: 2px -2px 0 10px #7abcfa inset;
}

.pop-window .pop-window-header .window-control button.pop-window-small::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #000;
  position: absolute;
  left: 6px;
  top: 5px;
}

.pop-window .pop-window-header .window-control button.pop-window-close::after {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

.pop-window .pop-window-header .window-control button.pop-window-close::before {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-window .pop-window-content {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-top: 40px solid transparent;
  background-color: #fff;
  box-sizing: border-box;
  transition: height 0.5s ease-in-out;
}

.pop-window .pop-window-content p {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  word-wrap: break-word;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  transition: height 0.5s ease-in-out;
}

.unselect {
  user-select: none;
}

.select {
  user-select: auto;
}

.moving {
  cursor: move;
}
